In [1]:
import numpy as np
import pandas as pd
import scipy.linalg
import sys

In [ ]:
articles = pd.read_csv("../dataset/articles.csv")
customers = pd.read_csv("../dataset/customers.csv")
transactions = pd.read_csv("../dataset/transactions_train.csv")

In [ ]:
article_ids = articles['article_id'].unique()
article_ids.sort()
print(article_ids)

[108775015 108775044 108775051 ... 956217002 957375001 959461001]

In [ ]:
customer_ids = customers['customer_id'].unique()
customer_ids.sort()
print(customer_ids)

['00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d25f88aa139fdfc657'
 '0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa'
 '000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318' ...
 'ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1778d0116cffd259264'
 'ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38b2236865d949d4df6a'
 'ffffd9ac14e89946416d80e791d064701994755c3ab686a1eaf3458c36f52241']

In [ ]:
n = len(customer_ids)
m = len(article_ids)
print("Total Users: {} and Total Items: {}".format(n,m))

Total Users: 1371980 and Total Items: 105542

In [9]:
sys.getsizeof(np.zeros((25000,25000))) #5GB 25K items

5000000120

In [22]:
txn_agg_df = transactions.groupby(['article_id','customer_id']).count()

In [23]:
txn_agg_df

                                                               t_dat  price  \
article_id customer_id
108775015  000f7535bdc611ad136a9f04746d6b1431f50a7f60fbbed...      3      3
           001ae5408a043f64bccd32beffe2730151414cbdf18a6eb...      2      2
           001ba9e81e13ce12a2585d9ebde923fe74429e9e12ea59f...      1      1
           0022a721371d5949d174ecba60346d89a9d6c08c0fba4f4...      2      2
           002323971cbd38fad4512d5114676e5e17eb262db023204...      1      1
...                                                              ...    ...
956217002  be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee98...      1      1
           c89698e2626f3d98d8496e673c89ece5a8ee92914ee92d1...      1      1
           cedd533807afaef98ca626a771d8c14986de84bdb43743e...      1      1
           d51d1c7b07110ba2571d22849c1fdb7e61d7cbc1d58adad...      1      1
           e2731ecc3fb093e25d17348a02a34124c05cd960e9ebd34...      1      1

                                                               sales_channel_id
article_id customer_id
108775015  000f7535bdc611ad136a9f04746d6b1431f50a7f60fbbed...                 3
           001ae5408a043f64bccd32beffe2730151414cbdf18a6eb...                 2
           001ba9e81e13ce12a2585d9ebde923fe74429e9e12ea59f...                 1
           0022a721371d5949d174ecba60346d89a9d6c08c0fba4f4...                 2
           002323971cbd38fad4512d5114676e5e17eb262db023204...                 1
...                                                                         ...
956217002  be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee98...                 1
           c89698e2626f3d98d8496e673c89ece5a8ee92914ee92d1...                 1
           cedd533807afaef98ca626a771d8c14986de84bdb43743e...                 1
           d51d1c7b07110ba2571d22849c1fdb7e61d7cbc1d58adad...                 1
           e2731ecc3fb093e25d17348a02a34124c05cd960e9ebd34...                 1

[27306439 rows x 3 columns]

In [26]:
(27306439/(1371980*105542))*100

0.01885784091898781